.featured_video_plus.responsive .wp-video,
.featured_video_plus.responsive .wp-video video {
  width: 100% !important; 
  height: auto !important;
}
.featured_video_plus.responsive .wp-video .mejs-poster {
  background-size: cover !important;
}